body {
	padding-top:60px;
}
#footer {
	text-align: center;
	font-size: small;
}
.navbar-inverse .navbar-link {
	color: #0088cc;
}
#footer span {
  display: inline-block;
  color: #f03;
  font-size: 190%;
}
