<!DOCTYPE html>
<html lang='en'>
	<head>
		{% if title %}
		<title>{{title}} - mtlFoodtruck</title>
		{% else %}
		<title>mtlFoodtruck</title>
		{% endif %}
		<link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
		<link href="{{ url_for('.static', filename = 'css/style.css') }}" rel="stylesheet">
		<link href="{{ url_for('.static', filename = 'css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{{ url_for('.static', filename = 'js/bootstrap.min.js') }}"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
    	{% block head %}{% endblock %}
	</head>
	<body>
		<div id="wrap">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="/">mtlFoodtruck</a>
						{% if username %}
							<p class="navbar-text pull-right">Logged in as <a href="/user/{{username}}" class="navbar-link">{{username}}</a>
						{% else %}
							<p class="navbar-text pull-right">
							<a href="/login" class="navbar-link">Login</a> | <a href="/register" class="navbar-link">Register</a></p>
						{% endif %}
						<ul class="nav">
							<li><a href="/">Home</a></li>
							<li><a href="/foodtruck">Foodtrucks</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container">
				{% block content %}{% endblock %}
			</div>
			<div id="push"></div>
		</div>
		<div id="footer">
			<hr />
			<h5><a href="http://builtinmtl.com/">Made with <span> &hearts; </span> in Montréal</a></h5>
			<p>Coded by <a href="http://starick.me">@trevorstarick</a> and Designed by <a href="#kylegill">Kyle Gill</a></p>
</div>
{% block closingJS %}{% endblock %}
	</body>
</html>