{% extends "default.html" %}

{% block head %}
<link href="{{ url_for('.static', filename = 'css/leaflet.css') }}" rel="stylesheet">
{% endblock %}
-------------------
{% block content %}
<div id="map" style="height: 400px; width: 100%"></div>
<h1>Hello World!</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
{% endblock %}
---------------------
{% block closingJS %}
<script src="{{ url_for('.static', filename = 'js/leaflet.js') }}"></script>
<script>
	var map = new L.Map('map');
	var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data &copy; OpenStreetMap contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom: 11, attribution: osmAttrib});		
	map.setView(new L.LatLng(45.5091, -73.5620),13);
	map.addLayer(osm);
</script>
{% endblock %}